<div class="main-content">
  <div class="container-fluid">
    <div>
        <ng-container *ngFor="let p of pokemons; let i = index">
            <div class="row " *ngIf="(i%3)==0"> 
                <div class="col-md-4 flex-column"  *ngFor="let p1 of pokemons.slice(i, i+3)">
                    <div class="card card-chart pokeinfo">
                        <div class="card-header text-center ">
                            <h3><strong>{{p1.name}}</strong></h3>
                        </div>
                <div class="card-body">
                    <a class="row" [routerLink]="['/detail', p1.name]">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="{{p1.photo}}">
                                <div class="m-t-xs font-bold"><strong>Type:</strong>{{p1.type}}</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <p>
                                <strong>Weight:</strong>{{p1.weight}}
                            </p>
                            <strong>Abilities</strong>
                            <ul *ngFor="let a of p1.abilities">
                                <li>{{a.ability.name}}</li>
                                
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
                 </div>
               </div>    
        </ng-container>
    </div>
     
    
  </div>
  
  <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-md-4">
            <ngb-pagination [collectionSize]="pokemonList?.count" [(page)]="page"  [pageSize]="limit"  [rotate]="false" 
            [maxSize]="5" (pageChange)="loadPage($event)"></ngb-pagination>


          </div>
      </div>
   
    
  </div>

</div>
