<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
            <div class="card card-chart pokeinfo">
                <div class="card-header text-center ">
                    <h3><strong>Bulbasaur</strong></h3>
                </div>
                <div class="card-body">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png
        ">
                                <div class="m-t-xs font-bold"><strong>Type:</strong>Grass</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <p>
                                <strong>Weigh:</strong>69
                            </p>
                            <strong>Abilities</strong>
                            <ul>
                                <li>overgrow</li>
                                <li>chlorophyll</li>
                                <li>overgrow</li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
         
        
        
      </div>
     
      
  </div>
  <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-md-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination ">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link " href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
          </div>
      </div>
   
    
  </div>

</div>
